{% load staticfiles %}
<!-- /.sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>李晨</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="{% url 'search' %}" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: :  自动化测试-->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">自动化测试</li>
        <li class="treeview">
          <a href="#">
            <!-- sidebar menu: :  接口测试-->
            <i class="fa fa-dashboard"></i> <span>接口测试</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <!-- sidebar menu: : 测试数据 -->
          <ul class="treeview-menu">
            <li><a href="../../index.html"><i class="fa fa-circle-o"></i> 单元测试</a></li>
            <li><a href="../../index2.html"><i class="fa fa-circle-o"></i> 业务测试</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>测试数据</span>
          </a>
          <ul class="treeview-menu">
            <li><a href="../layout/top-nav.html"><i class="fa fa-circle-o"></i>openapi</a></li>
            <li><a href="../layout/boxed.html"><i class="fa fa-circle-o"></i>oms</a></li>
            <li><a href="../layout/fixed.html"><i class="fa fa-circle-o"></i>pms</a></li>
            <li><a href="../layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i>cwm</a></li>
          </ul>
        </li>
        <li>
          <a href="/admin/"><i class="fa fa-files-o"></i><span>后台</span></a>
        </li>

      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
<!-- jQuery 3 -->
<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- SlimScroll -->
<script src="{% static 'bower_components/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'bower_components/fastclick/lib/fastclick.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>
<script>
  $(document).ready(function () {
    $('.sidebar-menu').tree()
  })
</script>